.Question
{
  width: 100%;
  color: white;
  background-color: rgb(50,40,40);
}
body
{
  background: black;
}
#stopwatch
{
  font-size: 50px;
  background: gainsboro;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
}
.border
{
    height: 1px;
    background-color: black;
}
.marquee
{
  height: 50px;
  font-size: 20px;
}
.warning
{
  color: gainsboro;
  font-size: 20px;
  background: gainsboro;
  box-sizing: border-box;
  text-align: center;
}
